/* $Id: sparql.css,v 1.2 2008/06/06 10:09:07 arto Exp $ */

div.sparql-query-text div.grippie {
  display: none;
}

div.sparql-query-debug {
  float: left;
}

div.sparql-query-button {
  position: absolute;
  right: 35px;
  margin-top: 3px;
}

div.sparql-query-time {
  margin-top: 12px;
}
